.guests{  
    h3{
        font-size: 36px;
        font-family: 'IBMPlexSans', sans-serif;
        margin: 10px 0 14px 16px;
        font-weight: 400;
        color:#060A24
    }

    .imginvited{
        line-height: 0;
        img{
            width: 100%;
        }
    }
    
}   
